@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

/* Light Theme Color */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* bg color) --color-primary: #401c69; */
  --color-primary: #1c352d;
  /* card bg #273e37 */
  --color-secondary: #273e37;
  /* heading color */
  --color-success: #a6b28b;
  /* Text -color */
  --color-white: #f9f6f3;
}

/* Dark Theme color */
@plugin "daisyui/theme" {
  name: "dark";
  /* bg color) 222831   */
  --color-primary: #1a1b1c;
  /* card bg 1a1b1c*/
  --color-secondary: #222831;
  /* heading color */
  --color-success: #dfd0b8;
  /* Text -color */
  --color-white: #e5e7eb;
}

* {
  font-family: "Urbanist", sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f0932b;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #eb4d4b;
}
